<h1> Login </h1>
  Click here to authenticate with Google
<form action="/auth/google" method="GET">
  <button type="submit"> GOOGLE BUTTON </button>
</form>
Click here to authenticate with Twitter
<form action="/auth/twitter" method="GET">
  <button type="submit"> TWITTER BUTTON </button>
</form>